.form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 2px black solid;
  border-radius: 5px;

  .form-input {
    padding: 10px;
    border: 1px #f1356d solid;
    border-radius: 5px;
  }
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1356d;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #f1356d88;
}
